/* Style sheet */

#name {
	font-size: 24pt;
	font-family: impact;
	text-align: center;
}

#hello-title {
	font-family: impact;
	text-align: center;
	font-size: 25pt;
}
body{
	font-family: impact;
}

.section-head {
	font-size: 12pt;
	font-style: bold;
	margin-left: 25px;
}

.resume-text{
	font-size: 12pt;
	margin-left: 25px;

}
.experience-list {
	list-style-type: circle;
}

.profile-picture{
	clip-path: circle(60px at center);
}

.header-button{
	font-family: impact;
	font-size: 20pt;
	margin-left: 60px;
	margin-right: 60px;
}