/* Style sheet */

#name {
	font-size: 24pt;
	font-family: impact;
	text-align: center;
}

#hello-title {
	font-family: impact;
	text-align: center;
	font-size: 25pt;
}
a {
	color: white;
}

body{
    background-image: linear-gradient(to bottom, #8e44ad, #8e44ad 20%, #2c3e50 80%, #2c3e50);
    background-size: cover;
    background-repeat: no-repeat;
	font-family: impact;
}

.section-head {
	font-size: 12pt;
	font-style: bold;
	margin-left: 25px;
}

.resume-text {
	font-size: 12pt;
	margin-left: 25px;

}
.experience-list {
	list-style-type: circle;
}

.profile-picture {
	position: center;
	clip-path: circle(100px at center);
}

.header-button {
	font-family: impact;
	font-size: 20pt;
	margin-left: 60px;
	margin-right: 60px;
}

.top {

}