/* Style sheet */
.pageText {
	font-family: Geneva,Tahoma,Verdana,sans-serif;
}
.topTitle {
	padding-left: 3em;
	font-size: 2em;
}
.banner {
	margin: 0;
	background-color: #9b59b6;
	color: #ffffff;
	margin-bottom: -3em;
	padding-top: 1em;
	padding-bottom: 1em;
	box-shadow: 0 0 6px .2em #000 inset;
}
.footer {
	background-color: #9b59b6;
	color: #000000;
	margin: 0;
	padding-bottom: .5em;
	padding-top: .5em;
}

.footerText{
	margin-left: 2em;
}
.footerLink {
	text-decoration: none;
	font-size: 2em;
	margin-left: 60px;
	margin-right: 60px;
	color: #ffffff;
}
#indexBody{
	background-color: #ecf0f1;
	margin-top: 3em;
}
.image {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 2em; 
}
#imageShape {
	max-width: 45%;
	max-height: 45%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	margin-top: 2em;
	margin-bottom: 2em;
}
#bioBody{
	font-size: 1em;
	text-align: center;	
	padding-top: 3em;
}
#bioText{
	margin-right: 8rem;
	margin-left: 8rem;
	margin-bottom: 0;
}
#bioHead{
	font-size: 1.5em;
}
.bioPhotoStyle{
	display: inline-block;
}
.bPhoto {
	display: inline-block;
	width: 20rem;
	height: auto;
	margin: 1em;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
  	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  	box-shadow:         3px 3px 5px 6px #ccc;

}
#resumeBody {
	padding-top: 1em;
	margin-right: 35em;
}
.sectionHead {
	font-size: 1.25em;
	font-weight: bold;
	margin-left: 25px;
	margin-bottom: 1px;
	padding-top: 1em;
}
.resumeText {
	font-size: 1em;
	margin-left: 25px;
}
.experienceList {
	list-style-type: circle;
}
.place {
	font-weight: bolder;
	font-size: 1.2em;
}
.jobPos {
	font-style: italic;
}
body{
   	margin-top: 0;
   	margin-right: 0;
   	margin-left: 0; 
}

@media (max-width: 690px) {
	.footer{
		font-size: 50%;
}
/*
.imageText{
	position: absolute;
	top: 900px;
	width: 100%;
	margin-left: .2em;
}
.homePhoto{
  background: 
  	linear-gradient(
      rgba(0, 0, 0, .9),
      rgba(0, 0, 0, .9)
    ),
    url(./images/bi-rite.jpg);
	max-height: 16rem;
	max-width: auto;
	position: relative;
	padding: 0;
}*/